*.big
*.wxd
*.vce
*.DS_Store

.vscode

src/Missions/Generated

tools/biggie/biggie

tools/kas2c/kas2c
tools/kas2c/lexer.c
tools/kas2c/parser.c
tools/kas2c/parser.h

IRIX/Makefile
IRIX/config.h
IRIX/config.log
IRIX/config.status
IRIX/libtool
IRIX/src
IRIX/stamp-h1
IRIX/tools

Makefile.am
Makefile.in
aclocal.m4
acinclude.m4
autom4te.cache
config.h.in
config.h.in~
config
configure
configure.ac

cscope.files
cscope.out
